.action-grid-HE-trigger-16 {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(8, auto);
}

.action-grid-HE-trigger-8 {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, auto);
}

.action-grid-HE-trigger-4 {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, auto);
}

.action-grid-HE-trigger-1 {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(1, auto);
}

@media only screen and (max-width: 680px) {
	.action-grid-HE-trigger {
		display: flex;
		flex-direction: column;
	}
}
