$md-breakpoint: 720px;
$sm-breakpoint: 480px;
$lg-breakpoint: 1080px;
$xl-breakpoint: 1440px;
$magenta-primary: rgb(255, 0, 242);
$black: rgb(37, 37, 37);
$grey: #495057;

// in case you want it for another size
@mixin min-width($size) {
	@media (min-width: $size) {
		@content;
	}
}

// ehh might as well use it
@mixin min-width-sm {
	@include min-width($sm-breakpoint) {
		@content;
	}
}

@mixin min-width-md {
	@include min-width($md-breakpoint) {
		@content;
	}
}

@mixin min-width-lg {
	@include min-width($lg-breakpoint) {
		@content;
	}
}

@mixin min-width-xl {
	@include min-width($xl-breakpoint) {
		@content;
	}
}

@mixin gp2040-btn-primary {
	background-color: $magenta-primary;
	border: $magenta-primary 1px solid;
	border-radius: 4px;
	box-sizing: border-box;
	color: white;

	&:hover {
		background-color: darken($magenta-primary, 5);
		cursor: pointer;
	}

	&:active {
		background-color: darken($magenta-primary, 10);
		cursor: pointer;
	}
}

@mixin gp2040-btn-secondary {
	background-color: $grey;
	border: $grey 1px solid;
	border-radius: 4px;
	box-sizing: border-box;
	color: white;

	&:hover {
		background-color: darken($grey, 5);
		cursor: pointer;
	}

	&:active {
		background-color: darken($grey, 10);
		cursor: pointer;
	}
}
