.navbar {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-brand {
	display: flex;
	flex: 0 0 auto;
	line-height: 1.325rem;
}

.nav-item * {
	font-size: 0.825rem;
}

.title-logo {
	height: 24px;
	margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .title-logo {
    animation: clockwise-spin infinite 20s linear;
  }
}

.title-sm {
	font-size: 0.675rem;
	vertical-align: middle;
	line-height: 2rem;
}

@keyframes clockwise-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
