$nav-outer-margin: 0.75rem;

.nav {
	padding-bottom: 1.5rem;
}

nav.navbar {
	padding: 0;
	background-color: white;
	box-shadow: 0 1px 2px 0 #0000001a;

	.navbar-brand {
		margin-right: $nav-outer-margin;
	}

	.navbar-toggler {
		margin-right: $nav-outer-margin;
	}

	.navbar-actions {
		margin-right: $nav-outer-margin;
		column-gap: 0.5rem;
		align-items: center;
		flex-direction: row-reverse;

		.dropdown-menu {
			position: absolute;
		}
	}

	.reset-settings-link {
		color: #ff0000;
	}
}
[data-bs-theme="dark"] {
	nav.navbar {
		background-color: #242526;
	}
}

.title-logo {
	height: 40px;
	margin: 0.25rem 0rem 0.25rem $nav-outer-margin;
}

@media (max-width: 767.98px) {
	nav.navbar {
		.navbar-actions {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.nav-link {
			margin-left: $nav-outer-margin;
		}
		.nav-menu {
			.dropdown-menu {
				background-color: transparent;
				border: none;
				.dropdown-item {
					padding-left: 1.5rem;
				}
			}
		}
	}
}
