.title-logo {
	height: 24px;
	margin: -6px 8px 0 12px;
}

.nav-link, .nav-item * {
	font-size: 0.875rem;
}

.navbar-tools {
	position: absolute;
	top: 12px;
	right: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.danger-zone {
	border-radius: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .title-logo {
    animation: clockwise-spin infinite 20s linear;
  }
}

@keyframes clockwise-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
