.row {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.box {
	border-radius: 1em;
	overflow: hidden;
	background-color: var(--ifm-color-secondary);
	border: 1px solid var(--ifm-background-color);
}
.boxImage {
	width: 100%;
}

.boxInfo {
	padding: 1em;
	color: var(--ifm-color-gray-900);
}

.boxTitle {
	text-align: center;
	color: var(--ifm-color-primary);
}
