 :root {
  --mono-hue: 0;
  --mono-saturation : 0%;
	--modular-scale   : 1.25;
  --base-font-size: 0.875rem;
  --theme-color   : #C73C8B;
  --sidebar-width : 20rem;
	/* --sidebar-padding: 0 0.75rem; */
	--content-max-width: 70em;
	--docsifytabs-border-color: #ededed;
	--docsifytabs-tab-highlight-color: #C73C8B;
}

hr {
	margin: 1.5em 0;
}

.form-dropdown label {
	display: none;
	margin-right: 4px;
}

.hotkey {
	text-transform: uppercase;
}

.label-select {
	display: inline-block;
	margin-left: 4px;
}

.sticky-label-select {
	/* width: 100%; */
	position: fixed !important;
	top: var(--sidebar-toggle-offset-top);
	height: var(--sidebar-toggle-height);
	right: 0px;
	background: var(--sidebar-toggle-background, transparent);
	padding: 4px;
	border-radius: 4px;
	transform: translateY(-100%);
	opacity: 0.8;
	z-index: 10;
}

.sticky-label-select label {
	display: block;
	text-align: center;
	margin-top: -4px;
	margin-bottom: 4px;
}

.sidebar .search .clear-button {
	margin: auto;
}

/*************/
/* Downloads */
/*************/

.download-category {
	margin-bottom: 2rem;
}

.download-category h3 {
	margin-bottom: 1rem;
}

.download-category-list {
	display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1rem;
	width: 100%;
}

.download-box {
	display: flex;
	flex-direction: column;
}

.download-box .download-img {
	display: flex;
}

.download-box .download-img img {
	width: 100%;
	height: 100%;
}

.download-box .download-info {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	width: 100%;
	color: #000000;
	background-color: #d2d2d2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.download-box .download-info .download-title {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 0.5rem 0rem 1.5rem 0.5rem;
}

.download-box .download-info .download-links {
	display: flex;
	list-style: none;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	padding-bottom: 0.75rem;
}

.download-box .download-info .download-links li {
	font-weight: 600;
}

.download-box .download-info .download-links li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font-size: 0.85rem;
}

.download-box .download-info .download-links li a:hover {
	color: var(--theme-color);
}

.download-box .download-info .download-links li a i {
	height: 1rem;
}

.download-box .download-info .download-desc {
	padding: 0rem 1.25rem 1rem;
}

@media screen and (min-width: 500px) {
	.download-category-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 900px) {
	.download-category-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*************/
/* Table of Contents */
/*************/

@media only screen and (max-width: 1299px) {
    aside.toc-nav {
      max-width: 0%;
    }
}

@media only screen and (min-width: 1300px) {
	section.content {
		padding-right: 285px;
	}
}

aside.toc-nav {
	right: 1%;
	margin-right: 0px;
	width: 270px;
	max-height: 85vh;
}
  