.row {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.box {
	border-radius: 1em;
	overflow: hidden;
	background-color: var(--ifm-color-secondary);
	border: 1px solid var(--ifm-background-color);
}
.boxImage {
	width: 100%;
	overflow: hidden;
}

.boxInfo {
	padding: 1em;
	color: var(--ifm-color-gray-900);
}

.boxTitle {
	text-align: center;
	min-height: 56.2667px;
	color: var(--ifm-color-primary);
}

.downloadLinks {
	display: flex;
	list-style: none;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	padding-bottom: 0.75rem;
}

.downloadLinks li {
	font-weight: 600;
	margin-top: 0 !important;
}

.downloadLinks li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 0.85rem;
}

.downloadLinks li a:hover {
	color: var(--theme-color);
}

.downloadLinks li a i {
	height: 1rem;
}

@media screen and (max-width: 500px) {
	.row {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 900px) {
	.download-category-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}