# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6.0.1

    - name: Use Node.js
      uses: actions/setup-node@v6.1.0
      with:
        node-version: '20.x'
        cache: 'npm'
        cache-dependency-path: www/package-lock.json

    - name: clean install
      working-directory: ${{github.workspace}}/www
      run: npm ci

    - name: Build WWW
      working-directory: ${{github.workspace}}/www
      run: CI=false npm run build --if-present

    - name: Upload www Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: fsData
        path: ${{github.workspace}}/lib/httpd/fsdata.c
        if-no-files-found: error
