name: PlatformIO Release

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: olegtarasov/get-tag@v2.1
      id: tagName
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
        pio platform install https://github.com/Wiz-IO/wizio-pico
    - name: Run PlatformIO
      run: |
        pio run -e osfrd
        mv .pio/build/osfrd/APPLICATION.uf2 .pio/build/osfrd/GP2040-OSFRD_${{ steps.tagName.outputs.tag }}.uf2
        pio run -e osfrd1.5
        mv .pio/build/osfrd1.5/APPLICATION.uf2 .pio/build/osfrd1.5/GP2040-OSFRD-1.5_${{ steps.tagName.outputs.tag }}.uf2        
        pio run -e raspberry-pi-pico
        mv .pio/build/raspberry-pi-pico/APPLICATION.uf2 .pio/build/raspberry-pi-pico/GP2040-RaspberryPiPico_${{ steps.tagName.outputs.tag }}.uf2
        pio run -e pico-fighting-board
        mv .pio/build/pico-fighting-board/APPLICATION.uf2 .pio/build/pico-fighting-board/GP2040-PicoFightingBoard_${{ steps.tagName.outputs.tag }}.uf2
        pio run -e dural
        mv .pio/build/dural/APPLICATION.uf2 .pio/build/dural/GP2040-DURAL_${{ steps.tagName.outputs.tag }}.uf2
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          .pio/build/osfrd/GP2040-OSFRD_${{ steps.tagName.outputs.tag }}.uf2
          .pio/build/osfrd1.5/GP2040-OSFRD-1.5_${{ steps.tagName.outputs.tag }}.uf2
          .pio/build/raspberry-pi-pico/GP2040-RaspberryPiPico_${{ steps.tagName.outputs.tag }}.uf2
          .pio/build/pico-fighting-board/GP2040-PicoFightingBoard_${{ steps.tagName.outputs.tag }}.uf2
          .pio/build/dural/GP2040-DURAL_${{ steps.tagName.outputs.tag }}.uf2
